<% include ./partials/header %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="ui main text container segment">
    <div class="ui huge header">Spending History</div>
        <div>
            <canvas id="transactionChart" width="400" height="400"></canvas>


        </div>
    </div>

    <script>
        var allTransactions = <%- transactions %>;
        var values = [];
        var names = [];
        var dates = [];

        console.log(allTransactions[0]);
        for (var i = 0; i < allTransactions.length; i++){
            values.push(allTransactions[i]["amount"]);
            names.push(allTransactions[i]["name"]);
            monthDate = allTransactions[i]["created"].slice(5,10);
            year = allTransactions[i]["created"].slice(2,4);
            outDate = monthDate.concat('-',year);
            dates.push(outDate);
        }

        console.log(typeof(dates[0]));

        var ctx = document.getElementById('transactionChart');
        let lineChart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: dates,
            datasets: [{
                label: 'Spending History',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: values
            }]}
        });
        </script>

<% include ./partials/footer %>
