<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Spending History</div>
        <div>
            <canvas id="transactionChart" width="400" height="400"></canvas>
            <div class="options">
                <button id="dateViewBtn" class="graphBtn ui floated basic violet button">
                    View by Date
                    <i class="right chevron icon"></i>
                </button>
                <button id="catViewBtn" class="graphBtn ui floated basic violet button">
                    View by Category
                    <i class="right chevron icon"></i>
                </button>
                <button id="completeViewBtn" class="graphBtn ui floated basic violet button">
                    View total spending
                    <i class="right chevron icon"></i>
                </button>
            </div>
        </div>
    </div>

<div type="text" id="transactionContainer" style="display: none" > <%- transactions %> </div>
<div type="text" id="budgetContainer" style="display: none"> <%- budgets %> </div>

<% include ./partials/footer %>
