<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Budget</div>
        <form class="ui form" action="/budgets/new" method="POST">
                <div class="field">
                    <label>Budget Name</label>
                    <input required type="text" name="budget[name]" placeholder="Budget Name">
                </div>
                <div class="field">
                    <label>Amount Constraint</label>
                    <input required type="number" name="budget[amountConstraint]" placeholder="How much can you spend">
                </div>
                <div class="field">
                    <label>Start Date</label>
                    <input required type="date" name="budget[startDate]" placeholder="Start date">
                </div>
                <div class="field">
                    <label>End Date</label>
                    <input required type="date" name="budget[endDate]" placeholder="End date">
                </div>
               
               <div id="fixedTransContainer"> 
                   <p> <strong>Add the necessary transactions that you MUST incur during the budget period (eg:rent). We will
                       show you how much you're left with after!</strong>
                   </p>
                   <button type="button" id="FTbut" class="ui green button fixedTrans">Add Fixed Transaction</button>
                </div>
                <input class="ui button" id="budgetSubmit" type="submit">
        </form>
</div>

<% include ./partials/footer %>
