<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Transaction</div>
        <form class="ui form" action="/transactions" method="POST">   
                <div class="field">
                    <label>Transaction Name</label>
                    <input required type="text" name="transaction[name]" placeholder="Transaction Name">
                </div>
                <div class="field">
                    <label>Amount</label>
                    <input type="number" name="transaction[amount]" placeholder="Value of transaction">
                </div>
                <div class="field">
                    <label>Category</label>
                    <select name="transaction[category]">
                            <option value="Rent & utilities">Rent & utilities</option>
                            <option value="Groceries">Groceries</option>
                            <option value="Dining">Dining</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Travel & lodging">Travel & lodging</option>
                            <option value="Other">Other</option>
                          </select>
                </div>
                <div class="field">
                    <label>Date</label>
                    <input required type="date" name="transaction[created]" placeholder="Date of transaction">
                </div>
                <div>
                    <input class="ui button" type="submit">
                 </div>
        </form>
</div>

<% include ./partials/footer %>