i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 5em;
}

#delete{
    display: inline;
}

#FTbut{
    margin-bottom: 5px; 
}

#budgetSubmit{
    margin-top: 5px; 
}

